@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: cornflowerblue;
}

.hide {
  display: none;
}

.delete-pin {
  position: absolute;
  left: 10%;
}

.delete-board {
  position: absolute;
  left: 10%;
}

.edit-board {
  position: relative;
  left: 40%
}